.window {
  /* border: 1px solid #555555; */
  border-radius: 10px 15px 0 0;
}

.section-title {
  background-color: #343739;
  border-bottom: 1px solid #555555;
  font-size: smaller;
}

.container {
  background: rgb(3,21,41);
background: linear-gradient(90deg, rgba(3,21,41,1) 0%, rgba(47,116,192,1) 85%);
}